@charset "UTF-8";
/**
  Нормализация блочной модели
 */
*,
::before,
::after {
  box-sizing: border-box;
}

/**
    Убираем внутренние отступы слева тегам списков,
    у которых есть атрибут class
   */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
    Убираем внешние отступы body и двум другим тегам,
    у которых есть атрибут class
   */
body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

/**
    Убираем внешние отступы вертикали нужным тегам,
    у которых есть атрибут class
   */
:where(h1, h2, h3, h4, h5, h6, p, ul, ol, dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  margin-left: 0;
  padding: 0;
  border: none;
}

/**
    Убираем стандартный маркер маркированному списку,
    у которого есть атрибут class
   */
:where(ul[class]) {
  list-style: none;
}

:where(address[class]) {
  font-style: normal;
}

/**
    Обнуляем вертикальные внешние отступы параграфа,
    объявляем локальную переменную для внешнего отступа вниз,
    чтобы избежать взаимодействие с более сложным селектором
   */
p {
  --paragraphMarginBottom: 24px;
  margin-block: 0;
}

/**
    Внешний отступ вниз для параграфа без атрибута class,
    который расположен не последним среди своих соседних элементов
   */
p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

/**
    Упрощаем работу с изображениями и видео
   */
img,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

/**
    Наследуем свойства шрифт для полей ввода
   */
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /**
       Пригодится в большинстве ситуаций
       (когда, например, нужно будет "прижать" футер к низу сайта)
      */
  height: 100%;
  /**
       Убираем скачок интерфейса по горизонтали
       при появлении / исчезновении скроллбара
      */
  scrollbar-gutter: stable;
}

/**
    Плавный скролл
   */
html,
:has(:target) {
  scroll-behavior: smooth;
}

body {
  /**
       Пригодится в большинстве ситуаций
       (когда, например, нужно будет "прижать" футер к низу сайта)
      */
  min-height: 100%;
  /**
       Унифицированный интерлиньяж
      */
  line-height: 1.5;
}

/**
    Нормализация высоты элемента ссылки при его инспектировании в DevTools
   */
a:where([class]) {
  display: inline-flex;
}

/**
    Курсор-рука при наведении на элемент
   */
button,
label {
  cursor: pointer;
}

/**
    Приводим к единому цвету svg-элементы
    (за исключением тех, у которых уже указан
    атрибут fill со значением 'none' или начинается с 'url')
   */
:where([fill]:not([fill=none], [fill^=url])) {
  fill: currentColor;
}

/**
    Приводим к единому цвету svg-элементы
    (за исключением тех, у которых уже указан
    атрибут stroke со значением 'none')
   */
:where([stroke]:not([stroke=none], [stroke^=url])) {
  stroke: currentColor;
}

/**
    Чиним баг задержки смены цвета при взаимодействии с svg-элементами
   */
svg * {
  transition-property: fill, stroke;
}

/**
    Приведение рамок таблиц в классический 'collapse' вид
   */
:where(table) {
  border-collapse: collapse;
  border-color: currentColor;
}

/**
    Удаляем все анимации и переходы для людей,
    которые предпочитают их не использовать
   */
@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms;
    scroll-behavior: auto !important;
  }
}
@font-face {
  font-family: "Inter";
  src: url("../../assets/fonts/Inter18pt-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("../../assets/fonts/Inter18pt-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("../../assets/fonts/Inter18pt-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("../../assets/fonts/Inter18pt-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("../../assets/Inter18pt-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("../../assets/fonts/Inter18pt-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
:root {
  --container-width: 100rem;
  --container-padding-x: 1rem;
  --opacity: 0.75;
  --transition-duration: 0.2s;
  --font-family-base: "Inter", sans-serif;
  --color-light: #fff;
  --color-light-accent: rgba(255, 255, 255, 0.75);
  --color-dark-green: #1b2316;
  --color-footer-green: #222c1d;
  --color-green-accent: #272e22;
  --color-dark: #000000;
  --text-shadow: 0 2px 2px rgba(0, 0, 0, 0.09), 0 5px 4px rgba(0, 0, 0, 0.13),
  	0 8px 6px rgba(0, 0, 0, 0.15), 0 13px 10px rgba(0, 0, 0, 0.18),
  	0 19px 15px rgba(0, 0, 0, 0.21), 0 30px 24px rgba(0, 0, 0, 0.23),
  	0 50px 40px rgba(0, 0, 0, 0.27), 0 100px 80px rgba(0, 0, 0, 0.36);
  --color-green-border: #3a4b2e;
  --color-green-soft: #33402b;
  --color-green-hover: #405137;
  --color-green-light-accent: #5a6d4a;
  --border: 0.125rem solid var(var(--color-light));
  --border-accent: 2px solid var(--color-green-light-accent);
  --border-radius-small: 0.75rem;
  --border-radius-medium: 2.8125rem;
  --border-radius-large: 4.8125rem;
  --border-radius-biggest: 9.375rem;
  --border-radius-accent: 5.75rem;
  --strange-shadow: 0 -3px 2px 0 rgba(0, 0, 0, 0.05),
  	0 -7px 5px 0 rgba(0, 0, 0, 0.07), 0 -12px 10px 0 rgba(0, 0, 0, 0.09),
  	0 -22px 18px 0 rgba(0, 0, 0, 0.1), 0 -41px 33px 0 rgba(0, 0, 0, 0.12),
  	0 -98px 80px 0 rgba(0, 0, 0, 0.17);
}

.container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  -webkit-clip-path: inset(100%) !important;
          clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

@media (width <= 47.99875rem) {
  .hidden-mobile {
    display: none !important;
  }
}

@media (width > 47.99875rem) {
  .visible-mobile {
    display: none !important;
  }
}

@media (width <= 63.99875rem) {
  .hidden-tablet {
    display: none !important;
  }
}

@media (width > 63.99875rem) {
  .visible-tablet {
    display: none !important;
  }
}

@media (width <= 78.5rem) {
  .hidden-desktop-s {
    display: none !important;
  }
}

@media (width > 78.5rem) {
  .visible-desktop-s {
    display: none !important;
  }
}

.opacity {
  opacity: 0.75;
}

.review-title {
  font-size: 1.375rem;
  color: var(--color-light);
  opacity: 1;
}

.button {
  color: var(--color-light-accent);
  border: 0.125rem solid var(--color-light-accent);
  border-radius: 0.75rem;
  padding: 0.9375rem 3.6875rem;
  text-align: center;
  font-size: 1.75rem;
  background-color: transparent;
}

.gradient-border {
  position: relative;
  border-radius: 45px;
  background: rgba(255, 255, 255, 0.05);
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
}

.gradient-border::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  border-radius: 45px;
  padding: 2px; /* толщина бордера */
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.42) 0%, rgba(255, 255, 255, 0.34) 20%, rgba(255, 255, 255, 0) 53%, rgba(255, 255, 255, 0.2) 100%);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
          mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
          mask-composite: xor;
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
}

.title-decor::before {
  content: "";
  position: absolute;
  background: url("@/assets/icons/title-decor/bottom.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 4.3125rem;
  height: 4.3125rem;
  transform: translateX(-30%);
  position: absolute;
  top: 50%;
  translate: 0 -50%;
  top: 60%;
}
.title-decor::after {
  content: "";
  position: absolute;
  background: url("@/assets/icons/title-decor/bottom.svg");
  rotate: 180deg;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 4.3125rem;
  height: 4.3125rem;
  position: absolute;
  top: 50%;
  translate: 0 -50%;
  left: 62%;
}
@media (width <= 47.99875rem) {
  .title-decor::after {
    left: 65%;
  }
}

html.is-lock {
  overflow: hidden;
}

body {
  font-size: clamp(0.875rem, 0.6936983471rem + 0.7438016529vw, 1.4375rem);
  overflow-y: auto;
  font-family: var(--font-family-base);
  color: var(--color-light);
  background-color: var(--color-dark-green);
}

main {
  flex-grow: 1;
}

h1,
p,
a {
  opacity: var(--opacity);
  color: var(--color-light);
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  color: var(--color-light);
}

h1,
.h1 {
  font-size: clamp(2.5rem, 0.9287190083rem + 6.4462809917vw, 7.375rem);
  font-size: 600;
}

h2,
.h2 {
  font-size: clamp(1.5625rem, 0.958161157rem + 2.479338843vw, 3.4375rem);
}

h3,
.h3 {
  font-size: clamp(1.375rem, 1.0526859504rem + 1.3223140496vw, 2.375rem);
}

h4,
.h4 {
  font-size: clamp(1.125rem, 0.923553719rem + 0.826446281vw, 1.75rem);
}

h5,
.h5 {
  font-size: clamp(1.125rem, 1.0041322314rem + 0.4958677686vw, 1.5rem);
}

h6,
.h6 {
  font-size: clamp(1rem, 0.9194214876rem + 0.3305785124vw, 1.25rem);
}

a,
button,
label,
textarea,
input,
select,
svg * {
  transition-duration: var(--transition-duration);
}

@media (any-hover: hover) {
  a:hover {
    opacity: 1;
  }
}
@media (any-hover: none) {
  a:active {
    opacity: 1;
  }
}
a[class] {
  text-decoration: none;
}

:focus-visible {
  outline: 0.125rem dashed var(--color-light);
  outline-offset: 0.25rem;
  transition-duration: 0 !important;
}

a[aria-label],
button[aria-label] {
  position: relative;
}
a[aria-label]::before,
button[aria-label]::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  width: 2.75rem;
  height: 2.75rem;
}

button:focus-visible,
a:focus-visible {
  outline: 2px dashed var(--color-green-light-accent);
  outline-offset: 3px;
}

.burger-button {
  width: 1.9375rem;
  height: 1.9375rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  color: var(--color-light);
}
.burger-button__line {
  position: absolute;
  width: 100%;
  height: 0.125rem;
  background: currentColor;
  border-radius: 0.125rem;
  transition: transform 0.3s ease, opacity 0.3s ease;
}
.burger-button__line:nth-child(1) {
  transform: translateY(-0.4em);
}
.burger-button__line:nth-child(2) {
  transform: translateY(0.4em);
}
.burger-button.is-active .burger-button__line:nth-child(1) {
  transform: rotate(45deg);
}
.burger-button.is-active .burger-button__line:nth-child(2) {
  transform: rotate(-45deg);
}
.burger-button::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 0.625rem;
  border: 1px solid transparent;
  transition: border-color 0.2s ease, border-radius 0.2s ease;
}
@media (any-hover: hover) {
  .burger-button:hover::before {
    border-color: var(--color-light-accent);
  }
}
@media (any-hover: none) {
  .burger-button:active::before {
    border-color: var(--color-light-accent);
  }
}

.select__original-control {
  min-width: 4.875rem;
}
@media (width > 63.99875rem) {
  .select__original-control {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    margin: -1px !important;
    border: 0 !important;
    padding: 0 !important;
    white-space: nowrap !important;
    -webkit-clip-path: inset(100%) !important;
            clip-path: inset(100%) !important;
    clip: rect(0 0 0 0) !important;
    overflow: hidden !important;
  }
}
.select__body {
  position: relative;
}
@media (width <= 63.99875rem) {
  .select__body {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    margin: -1px !important;
    border: 0 !important;
    padding: 0 !important;
    white-space: nowrap !important;
    -webkit-clip-path: inset(100%) !important;
            clip-path: inset(100%) !important;
    clip: rect(0 0 0 0) !important;
    overflow: hidden !important;
  }
}
.select__button, .select__option {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: pointer;
}
.select__button {
  width: 1.875rem;
  height: 1.875rem;
  padding-left: 0.3125rem;
  display: flex;
  align-items: center;
  -moz-column-gap: 0.375rem;
       column-gap: 0.375rem;
  transition-duration: var(--transition-duration);
}
@media (width <= 90.06125rem) {
  .select__button {
    -moz-column-gap: 0.25rem;
         column-gap: 0.25rem;
  }
}
.select__button.is-expanded::after {
  rotate: -180deg;
}
.select__button::after {
  --size: 0.75rem;
  width: var(--size);
  height: var(--size);
  content: "";
  background: url("/assets/icons/select.svg") center/contain no-repeat;
  transition-duration: var(--transition-duration);
  opacity: 0.75;
  transform: translateY(3px);
}
.select__dropdown {
  z-index: 5;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE и Edge */
  overflow-y: auto; /* или auto */
  background-color: var(--color-green-soft);
  position: absolute;
  top: calc(100% + 0.25rem);
  display: grid;
  row-gap: 0.25rem;
  min-width: 9.375rem;
  max-width: 18.75rem;
  max-height: 15.625rem;
  overflow-y: auto;
  padding: 0.25rem;
  border: var(--border-accent) !important;
  border-radius: 0.375rem;
  transition-duration: var(--transition-duration);
}
.select__dropdown.is-on-the-left-side {
  left: 0;
  transform-origin: 0 0;
}
.select__dropdown.is-on-the-right-side {
  right: 0;
  transform-origin: 100% 0;
}
.select__dropdown:not(.is-expanded) {
  opacity: 0;
  visibility: hidden;
  scale: 0;
}
.select__option {
  display: flex;
  justify-content: space-between;
  align-items: center;
  -moz-column-gap: 0.625rem;
       column-gap: 0.625rem;
  padding: 0.625rem;
  border: 0.125rem solid var(--color-green-light-accent);
  border-radius: 0.75rem;
}
@media (any-hover: hover) {
  .select__option:hover {
    background-color: var(--color-dark-green);
  }
}
@media (any-hover: none) {
  .select__option:active {
    background-color: var(--color-dark-green);
  }
}
.select__option.is-selected {
  color: var(--color-green-light-accent);
}
.select__option.is-selected::after {
  content: "✔";
}
.select__option.is-current {
  border-color: var(--color-dark-green);
  background-color: var(--color-green-accent);
}

.field__control {
  width: 100%;
  color: var(--color-light);
  border: var(--border);
  border-radius: 0.5rem;
}
@media (any-hover: hover) {
  .field__control:hover {
    box-shadow: var(--shadow);
    border-color: var(--color-green-accent);
  }
}
@media (any-hover: none) {
  .field__control:active {
    box-shadow: var(--shadow);
    border-color: var(--color-green-accent);
  }
}

.header {
  padding-bottom: 4.5rem;
  padding-top: 3.5625rem;
  display: flex;
  flex-direction: column;
  row-gap: 0.3125rem;
}
@media (width <= 63.99875rem) {
  .header__overlay {
    background-color: var(--color-dark-green);
    z-index: 5;
    padding: 7.5rem 3.75rem;
    position: fixed;
    inset: 0;
    overflow-y: auto;
    max-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 1rem;
    transition-duration: var(--transition-duration);
  }
  .header__overlay:not(.is-active) {
    opacity: 0;
    visibility: hidden;
    translate: 100%;
  }
}
.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  -moz-column-gap: 1.25rem;
       column-gap: 1.25rem;
}
.header__logo-wrapper {
  display: inline-flex;
  align-items: center;
  -moz-column-gap: 0.875rem;
       column-gap: 0.875rem;
  flex-shrink: 0;
  flex-grow: 0;
  white-space: nowrap;
}
.header__logo-sign {
  font-weight: 900;
  align-self: end;
}
.header__menu {
  max-height: 100vh;
  box-sizing: border-box;
}
.header__menu-list {
  display: flex;
  -moz-column-gap: 3.6875rem;
       column-gap: 3.6875rem;
}
@media (width <= 63.99875rem) {
  .header__menu-list {
    flex-direction: column;
    align-items: center;
    row-gap: 1rem;
  }
}
.header__menu-item {
  font-weight: 500;
}
.header__menu-item.is-current {
  display: flex;
  align-items: center;
}
@media (width <= 63.99875rem) {
  .header__menu-item.is-current {
    -moz-column-gap: 0.9375rem;
         column-gap: 0.9375rem;
  }
}
.header__menu--accent {
  display: none;
}
.header__menu--accent.is-active {
  display: flex;
  overflow-y: auto;
  max-height: 100vh;
  box-sizing: border-box;
  flex-direction: column;
  row-gap: 1rem;
}
@media (width > 63.99875rem) {
  .header__menu--accent.is-active {
    background-color: var(--color-dark-green);
    z-index: 5;
    padding: 7.5rem 3.75rem;
    inset: 0;
    position: fixed;
    align-items: center;
    justify-content: center;
  }
}
@media (width <= 63.99875rem) {
  .header__menu--accent.is-active {
    border-top: 1px solid var(--color-light);
  }
}
.header__menu--accent .header__menu-list {
  flex-direction: column;
  align-items: center;
  row-gap: 2rem;
}
@media (width <= 63.99875rem) {
  .header__menu--accent .header__menu-list {
    width: 100vw;
    padding-top: 1.25rem;
  }
}
.header__button {
  background: transparent;
  outline: none;
  border: none;
  border-bottom: 1px solid transparent;
  transition: border-color 0.2s ease;
}
@media (any-hover: hover) {
  .header__button:hover {
    border-color: var(--color-light);
  }
}
@media (any-hover: none) {
  .header__button:active {
    border-color: var(--color-light);
  }
}
.header__accent {
  position: relative;
  display: flex;
  -moz-column-gap: 3.6875rem;
       column-gap: 3.6875rem;
  z-index: 5;
}
@media (width <= 63.99875rem) {
  .header__accent {
    -moz-column-gap: 1.875rem;
         column-gap: 1.875rem;
  }
}
@media (width <= 47.99875rem) {
  .header__accent {
    -moz-column-gap: 1.25rem;
         column-gap: 1.25rem;
  }
}
.header__search-form {
  position: absolute;
  z-index: 5;
  transition: max-height 0.3s ease, opacity 0.3s ease;
  align-self: end;
  max-height: 3rem;
  opacity: 1;
  max-width: 14.0625rem;
}
@media (width <= 63.99875rem) {
  .header__search-form {
    max-width: 10.4375rem;
  }
}
@media (width <= 47.99875rem) {
  .header__search-form {
    max-width: 9.1875rem;
  }
}
.header__search-form:not(.is-visible) {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  -webkit-clip-path: inset(100%) !important;
          clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
  opacity: 0;
  transform: translateY(0);
  visibility: hidden;
  pointer-events: none;
  transition: opacity 0.3s ease, transform 0.3s ease;
}
.header__search-form.is-visible {
  opacity: 1;
  transform: translateY(3.125rem);
  visibility: visible;
  pointer-events: auto;
}
.header__search-form input {
  width: 100%;
  padding: 0.5em 1em;
  border-radius: 0.375rem;
  border: 1px solid var(--color-light-accent);
  background: transparent;
  color: var(--color-light);
  font-size: 1rem;
}
.header__search-error {
  color: #ff4d4f; /* красный */
  font-size: 0.875rem;
  margin-top: 0.25rem;
  transition: opacity 0.3s ease;
  opacity: 1;
}
.header__search-error.visually-hidden {
  opacity: 0;
  height: 0;
  overflow: hidden;
  margin-top: 0;
}

.plant-card {
  display: inline-flex;
  padding-bottom: 5.25rem;
  flex-direction: column;
  row-gap: 2.25rem;
  padding-inline: 1.875rem;
  border-radius: 4.8125rem;
  fill: rgba(255, 255, 255, 0.05);
  -webkit-backdrop-filter: blur(25px);
          backdrop-filter: blur(25px);
  box-shadow: 0 9px 18px 0 rgba(0, 0, 0, 0.25);
}
.plant-card.gradient-border {
  border-radius: var(--border-radius-large);
}
.plant-card.gradient-border::before {
  border-radius: var(--border-radius-large);
}
.plant-card__image {
  margin-top: -7.5rem;
}
.plant-card__main-content {
  display: grid;
  padding-left: 2.625rem;
  row-gap: 1.25rem;
  justify-content: start;
}
@media (any-hover: hover) {
  .plant-card__button:hover {
    opacity: 0.7;
  }
}
@media (any-hover: none) {
  .plant-card__button:active {
    opacity: 0.7;
  }
}

.swiper {
  padding-top: 7.5rem !important;
  width: 32.4375rem;
  margin: 0 !important;
}
@media (width <= 47.99875rem) {
  .swiper {
    width: clamp(21.875rem, 18.4705578512rem + 13.9669421488vw, 32.4375rem);
  }
}

.hero__swiper .swiper-button-disabled {
  display: none;
}

.hero__swiper .swiper-pagination {
  display: flex;
  justify-content: center;
  -moz-column-gap: 0.5rem;
       column-gap: 0.5rem;
  transform: translateY(-1.875rem);
}

.hero__swiper .swiper-pagination-bullet {
  position: relative;
  background-color: var(--color-light);
  color: var(--color-light);
  opacity: 0.8;
  width: 0.5rem;
  height: 0.5rem;
  display: inline-block;
  z-index: 1;
}
.hero__swiper .swiper-pagination-bullet::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: transparent;
  z-index: -1;
}

.hero__swiper .swiper-pagination-bullet-active {
  width: 1.3125rem;
  border-radius: 2.875rem;
  opacity: 1;
}

.hero__swiper .swiper-button-prev,
.hero__swiper .swiper-button-next {
  top: 70%;
  margin-top: 0;
  color: var(--color-light-accent);
}
.hero__swiper .swiper-button-prev::after,
.hero__swiper .swiper-button-next::after {
  --swiper-navigation-size: 1.25rem;
  width: var(--swiper-navigation-size);
  height: var(--swiper-navigation-size);
}

.review-card {
  width: clamp(21.25rem, 19.8600206612rem + 5.7024793388vw, 25.5625rem);
  fill: rgba(255, 255, 255, 0.05);
  -webkit-backdrop-filter: blur(20.2000007629px);
          backdrop-filter: blur(20.2000007629px);
  border-radius: 2.8125rem;
  display: block;
  padding: 2.8125rem;
  display: grid;
  row-gap: 1.375rem;
}
.review-card.gradient-border {
  border-radius: var(--border-radius-large);
}
.review-card.gradient-border::before {
  border-radius: var(--border-radius-large);
}
.review-card__author {
  display: flex;
  -moz-column-gap: 1.75rem;
       column-gap: 1.75rem;
}
.review-card__image {
  width: 4rem;
  height: 4rem;
}
.review-card__extra {
  display: grid;
  row-gap: 0.3125rem;
}
.review-card__list {
  display: flex;
  -moz-column-gap: 0.5625rem;
       column-gap: 0.5625rem;
}
.review-card__description {
  font-size: 1.0625rem;
}

.hero {
  background: url("../../../assets/images/bg.jpg");
  background-position: end;
  background-size: cover;
  background-repeat: no-repeat;
}
.hero__main {
  overflow: hidden !important;
  justify-content: space-between;
  display: grid;
  grid-template-areas: "content1 swiper" ". swiper" "review swiper" "review .";
}
@media (width <= 78.5rem) {
  .hero__main {
    row-gap: 0.625rem;
    -moz-column-gap: 1.25rem;
         column-gap: 1.25rem;
    grid-template-areas: "content1 content1" "swiper review";
  }
}
@media (width <= 63.99875rem) {
  .hero__main {
    grid-template-columns: 1fr;
    grid-template-areas: "content1" "swiper" "review";
  }
}
.hero__main-content-wrapper {
  display: grid;
  row-gap: 1.25rem;
  grid-area: content1;
}
@media (width > 78.5rem) {
  .hero__main-content-wrapper {
    max-width: 56.1875rem;
  }
}
@media (width <= 78.5rem) {
  .hero__main {
    padding-top: 3.125rem;
  }
}
@media (width <= 63.99875rem) {
  .hero__main {
    padding-top: 1.5625rem;
  }
}
.hero__description {
  font-size: 500;
}
.hero__swiper {
  grid-area: swiper;
}
@media (width <= 63.99875rem) {
  .hero__swiper {
    justify-self: center;
  }
}
.hero__content-accent {
  display: flex;
  -moz-column-gap: 2.1875rem;
       column-gap: 2.1875rem;
}
@media (width <= 47.99875rem) {
  .hero__content-accent {
    flex-direction: column;
    row-gap: 1.25rem;
  }
}
.hero__content-actions {
  display: flex;
  align-items: center;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
}
.hero__content-actions-sign {
  font-size: 1.25rem;
}
.hero__content-play-button {
  all: unset;
  opacity: 0.75;
  position: relative;
  width: 4rem;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition-duration: var(--transition-duration);
}
.hero__content-play-button::before {
  content: "";
  position: absolute;
  inset: 0;
  border: 0.125rem solid var(--color-light-accent);
  border-radius: 50%;
  transform: translateX(-2px);
}
@media (any-hover: hover) {
  .hero__content-play-button:hover {
    opacity: 1;
  }
}
@media (any-hover: none) {
  .hero__content-play-button:active {
    opacity: 1;
  }
}
.hero__content-image {
  width: 2.125rem;
  height: 2.125rem;
}
.hero__review-card {
  grid-area: review;
}
@media (width <= 78.5rem) {
  .hero__review-card {
    align-self: end;
  }
}
@media (width <= 63.99875rem) {
  .hero__review-card {
    justify-self: center;
    margin-top: 2.5rem;
  }
}
@media (width <= 47.99875rem) {
  .hero__content-link {
    justify-content: center;
  }
}
.hero__trendy {
  display: grid;
  row-gap: 8.125rem;
  padding-top: 5rem;
  padding-bottom: 6.1875rem;
}
.hero__trendy-card.gradient-border {
  border-radius: var(--border-radius-biggest);
}
.hero__trendy-card.gradient-border::before {
  border-radius: var(--border-radius-biggest);
}
.hero__trendy-title {
  position: relative;
  font-weight: 600;
  text-align: center;
  text-shadow: var(--text-shadow);
}
.hero__trendy-list {
  display: grid;
  row-gap: 8.5rem;
}
@media (width <= 63.99875rem) {
  .hero__trendy-list {
    row-gap: 7.5rem;
  }
}

.trendy-card {
  -webkit-backdrop-filter: blur(40px);
          backdrop-filter: blur(40px);
  background: rgba(255, 255, 255, 0.05);
  width: 100%;
  padding-inline: 2.0625rem;
  border-radius: var(--border-radius-biggest);
  display: grid;
  grid-template-columns: 38.75rem auto;
  justify-content: space-between;
  align-items: center;
}
.trendy-card.gradient-border {
  border-radius: var(--border-radius-large);
}
.trendy-card.gradient-border::before {
  border-radius: var(--border-radius-large);
}
@media (width <= 78.5rem) {
  .trendy-card {
    grid-template-columns: 31.25rem auto;
  }
}
@media (width <= 63.99875rem) {
  .trendy-card {
    grid-template-columns: 1fr;
    padding-bottom: 3.125rem;
    padding-left: 5rem;
  }
}
.trendy-card__main {
  display: grid;
  row-gap: 1.5rem;
}
.trendy-card__image {
  margin-top: -7.5rem;
  z-index: 1;
}
@media (width <= 63.99875rem) {
  .trendy-card__image {
    width: clamp(22.5rem, 19.6797520661rem + 11.5702479339vw, 31.25rem);
    justify-self: center;
  }
}
.trendy-card__body {
  display: grid;
  row-gap: 1.5rem;
}
.trendy-card__title {
  text-shadow: var(--text-shadow);
}
.trendy-card__title, .trendy-card__subtitle {
  font-weight: 600;
}
.trendy-card__description {
  max-width: 45.75rem;
  overflow-wrap: break-word;
}
.trendy-card__description p {
  color: var(--color-light);
  opacity: 1;
  font-weight: 600;
}
.trendy-card__accents {
  display: flex;
  -moz-column-gap: 2rem;
       column-gap: 2rem;
}
@media (width <= 47.99875rem) {
  .trendy-card__accents {
    flex-direction: column;
    justify-self: start;
    row-gap: 0.625rem;
  }
}
.trendy-card__link {
  opacity: 1;
  color: var(--color-light);
  font-weight: 500;
}
.trendy-card__button {
  transition-duration: var(--transition-duration) !important;
  all: unset;
  padding: 0.9375rem;
  border: 2px solid var(--color-light);
  border-radius: var(--border-radius-small);
  cursor: pointer;
}
@media (width <= 47.99875rem) {
  .trendy-card__button {
    width: 2.125rem;
    height: 2.125rem;
  }
}
@media (any-hover: hover) {
  .trendy-card__link:hover, .trendy-card__button:hover {
    opacity: 0.75;
  }
}
@media (any-hover: none) {
  .trendy-card__link:active, .trendy-card__button:active {
    opacity: 0.75;
  }
}

.selling {
  padding-top: 8.9375rem;
}
.selling__title {
  position: relative;
}
.selling__title::after {
  left: 60%;
}
.selling__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
  -moz-column-gap: 2.5625rem;
       column-gap: 2.5625rem;
  row-gap: 7.0625rem;
}
@media (width <= 104.5rem) {
  .selling__list {
    -moz-column-gap: 0.625rem;
         column-gap: 0.625rem;
  }
}
@media (width <= 90.06125rem) {
  .selling__list {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (width <= 63.99875rem) {
  .selling__list {
    grid-template-columns: 1fr;
  }
}
.selling__inner {
  display: grid;
  row-gap: 8.875rem;
}
.selling__title {
  text-align: center;
}
.selling__trendy-card {
  fill: rgba(255, 255, 255, 0.05);
  -webkit-backdrop-filter: blur(25px);
          backdrop-filter: blur(25px);
  box-shadow: 0 9px 18px 0 rgba(0, 0, 0, 0.25);
  border-radius: 4.8125rem;
  display: grid;
  grid-template-columns: 1fr;
  width: 32rem;
  row-gap: 0.9375rem;
  padding-inline: 1.5625rem;
}
@media (width <= 104.5rem) {
  .selling__trendy-card {
    width: clamp(26.25rem, 25.4643595041rem + 3.2231404959vw, 28.6875rem);
  }
}
@media (width <= 30.06125rem) {
  .selling__trendy-card {
    width: clamp(21.875rem, 20.4648760331rem + 5.7851239669vw, 26.25rem);
  }
}
.selling__trendy-card .trendy-card__body {
  row-gap: 2.3125rem;
  padding-inline: 2.5rem;
  padding-bottom: 3.125rem;
}
@media (width <= 63.99875rem) {
  .selling__trendy-card .trendy-card__body {
    row-gap: 1.5625rem;
    padding-bottom: 1.875rem;
    padding-inline: 1.875rem;
  }
}
.selling__trendy-card .trendy-card__title {
  font-weight: 400;
  opacity: var(--opacity);
  text-shadow: none;
}
.selling__trendy-card .trendy-card__description {
  opacity: var(--opacity);
  font-size: clamp(0.875rem, 0.673553719rem + 0.826446281vw, 1.5rem);
}
.selling__trendy-card .trendy-card__accents {
  align-items: end;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
}
@media (width <= 47.99875rem) {
  .selling__trendy-card .trendy-card__accents {
    align-items: start;
  }
}
.selling__trendy-card .trendy-card__subtitle {
  font-weight: 400;
  opacity: var(--opacity);
}

.reviews {
  padding-top: 13.6875rem;
}
@media (width <= 78.5rem) {
  .reviews {
    padding-top: 7.5rem;
  }
}
.reviews__title {
  position: relative;
  text-align: center;
}
.reviews__inner {
  display: grid;
  row-gap: 11.375rem;
}
@media (width <= 78.5rem) {
  .reviews__inner {
    row-gap: 7.5rem;
  }
}
.reviews__list {
  display: flex;
  -moz-column-gap: 2.0625rem;
       column-gap: 2.0625rem;
}
@media (width <= 78.5rem) {
  .reviews__list {
    -moz-column-gap: 1.25rem;
         column-gap: 1.25rem;
  }
}
@media (width <= 63.99875rem) {
  .reviews__list {
    flex-direction: column;
    row-gap: 1.875rem;
  }
}
.reviews__review-card {
  height: 100%;
  width: 100%;
  padding: 5.9375rem 3.1875rem 5.9375rem 3.625rem;
  border-radius: 4.8125rem;
  row-gap: 3.8125rem;
}
@media (width <= 78.5rem) {
  .reviews__review-card {
    padding: 3.125rem;
    row-gap: 2.5rem;
  }
}
@media (width <= 30.06125rem) {
  .reviews__review-card {
    row-gap: 1.5625rem;
  }
}
.reviews__review-card .review-card__description {
  font-size: clamp(1.125rem, 1.0041322314rem + 0.4958677686vw, 1.5rem);
}
.reviews__review-card .review-card__title {
  opacity: 1;
}
.reviews__review-card .review-card__image {
  border-radius: 50%;
  width: 5.5rem;
  height: 5.5rem;
  align-self: center;
}

.about-slide {
  display: flex;
  justify-content: space-between;
  width: 100%;
  border-radius: 5.75rem;
  padding: 2.75rem;
}
.about-slide.gradient-border {
  border-radius: var(--border-radius-accent);
}
.about-slide.gradient-border::before {
  border-radius: var(--border-radius-accent);
}
@media (width <= 78.5rem) {
  .about-slide {
    flex-direction: column;
    align-items: center;
    row-gap: 1.25rem;
  }
}
.about-slide__image {
  width: 48.75rem;
  height: 48.75rem;
  margin-top: -7.5rem;
}
@media (width <= 104.5rem) {
  .about-slide__image {
    width: clamp(28.6875rem, 26.6730371901rem + 8.2644628099vw, 34.9375rem);
    height: clamp(28.6875rem, 26.6730371901rem + 8.2644628099vw, 34.9375rem);
    margin-block: auto;
  }
}
@media (width <= 47.99875rem) {
  .about-slide__image {
    width: clamp(22.4375rem, 20.4230371901rem + 8.2644628099vw, 28.6875rem);
    height: clamp(22.4375rem, 20.4230371901rem + 8.2644628099vw, 28.6875rem);
  }
}
.about-slide__content {
  display: flex;
  flex-direction: column;
  row-gap: 2.625rem;
  align-items: start;
  justify-content: center;
}
.about-slide__title {
  opacity: var(--opacity);
}
@media (any-hover: hover) {
  .about-slide__button:hover {
    opacity: 0.75;
  }
}
@media (any-hover: none) {
  .about-slide__button:active {
    opacity: 0.75;
  }
}
.about-slide__navigation {
  display: flex;
  align-items: center;
  -moz-column-gap: 2.6875rem;
       column-gap: 2.6875rem;
}
.about-slide__navigation .swiper-button-next,
.about-slide__navigation .swiper-button-prev {
  position: static;
}

.our-best {
  padding-top: 17.8125rem;
  padding-bottom: 10.625rem;
  display: grid;
}
.our-best__title {
  text-align: center;
  position: relative;
}
.our-best__title::after {
  left: 57%;
}
.our-best .our-best__slider.swiper {
  width: 100%;
  padding-bottom: 8.3125rem;
  position: relative;
}
@media (width <= 104.5rem) {
  .our-best .our-best__slider.swiper {
    max-width: 100%;
    width: clamp(22.5rem, 3.5640495868rem + 77.6859504132vw, 81.25rem);
  }
}
.our-best .our-best__slider.swiper .swiper-pagination {
  display: flex;
  justify-content: center;
  -moz-column-gap: 0.5rem;
       column-gap: 0.5rem;
  transform: translateY(-1.875rem);
}
.our-best .our-best__slider.swiper .swiper-pagination-bullet {
  position: relative;
  background-color: var(--color-light);
  color: var(--color-light);
  opacity: 0.8;
  width: 0.5rem;
  height: 0.5rem;
  display: inline-block;
  z-index: 1;
}
.our-best .our-best__slider.swiper .swiper-pagination-bullet::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: transparent;
  z-index: -1;
}
.our-best .our-best__slider.swiper .swiper-pagination-bullet-active {
  width: 1.3125rem;
  border-radius: 2.875rem;
  opacity: 1;
}
.our-best .our-best__slider.swiper .swiper-button-prev,
.our-best .our-best__slider.swiper .swiper-button-next {
  --swiper-navigation-size: rem(24);
  padding: 0.625rem;
  color: var(--color-light-accent);
}
.our-best .our-best__slider.swiper .swiper-button-disabled {
  display: block;
}

.soc1als__list {
  display: flex;
  -moz-column-gap: 3.8125rem;
       column-gap: 3.8125rem;
}
@media (width <= 47.99875rem) {
  .soc1als__list {
    -moz-column-gap: 1.25rem;
         column-gap: 1.25rem;
  }
}
.soc1als__link {
  cursor: pointer;
  opacity: 1;
}
.soc1als__item svg {
  width: 2.8125rem;
  height: 2.8125rem;
  fill: #fff;
  color: #fff;
  transition-duration: var(--transition-duration);
}
@media (any-hover: hover) {
  .soc1als__item svg:hover {
    opacity: 0.75;
  }
}
@media (any-hover: none) {
  .soc1als__item svg:active {
    opacity: 0.75;
  }
}

.footer {
  padding-block: 5.625rem;
  background-color: var(--color-footer-green);
}
@media (width <= 47.99875rem) {
  .footer {
    padding-block: 2.8125rem;
  }
}
.footer__inner {
  display: grid;
  row-gap: 5.625rem;
}
.footer__logo-wrapper {
  display: flex;
  align-items: center;
  -moz-column-gap: 0.8125rem;
       column-gap: 0.8125rem;
}
.footer__logo-sign {
  font-weight: 900;
}
.footer__logo-description {
  color: var(--color-light) !important;
}
.footer__main {
  display: grid;
  grid-template-columns: 36.25rem 1fr auto;
  -moz-column-gap: 8.125rem;
       column-gap: 8.125rem;
  align-items: start;
}
@media (width <= 104.5rem) {
  .footer__main {
    -moz-column-gap: 5.625rem;
         column-gap: 5.625rem;
  }
}
@media (width <= 78.5rem) {
  .footer__main {
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
  }
}
@media (width <= 63.99875rem) {
  .footer__main {
    grid-template-columns: 1fr;
    row-gap: 1.875rem;
  }
}
.footer__column {
  display: grid;
  row-gap: 2.8125rem;
}
@media (width <= 63.99875rem) {
  .footer__column {
    justify-content: center;
    align-items: center;
  }
}
.footer__list {
  display: grid;
  row-gap: 1.625rem;
}
.footer__subscribe-form {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  border-radius: 0.5rem;
  border: 2px solid #fff;
  padding: 0.3125rem;
  display: flex;
}
.footer__subscribe-form-input {
  background-color: transparent;
  color: var(--color-light);
  outline: none;
  border: none;
  padding-block: 1.4375rem;
  padding-left: 1.8125rem;
}
.footer__subscribe-form-input::-moz-placeholder {
  font-weight: 500;
  font-size: clamp(1rem, 0.8388429752rem + 0.6611570248vw, 1.5rem);
}
.footer__subscribe-form-input::placeholder {
  font-weight: 500;
  font-size: clamp(1rem, 0.8388429752rem + 0.6611570248vw, 1.5rem);
}
.footer__subscribe-form-button {
  background-color: var(--color-light);
  color: var(--color-dark);
  font-weight: 700;
  text-transform: uppercase;
  font-size: clamp(1rem, 0.8791322314rem + 0.4958677686vw, 1.375rem);
  border-radius: 0.5rem;
}
@media (any-hover: hover) {
  .footer__subscribe-form-button:hover {
    background-color: var(--color-dark);
    color: var(--color-light);
    border: 1px solid var(--color-light);
  }
}
@media (any-hover: none) {
  .footer__subscribe-form-button:active {
    background-color: var(--color-dark);
    color: var(--color-light);
    border: 1px solid var(--color-light);
  }
}
@media (width <= 104.5rem) {
  .footer__subscribe-form-button {
    width: 100%;
  }
}
.footer__accent {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (width <= 78.5rem) {
  .footer__item {
    display: grid;
  }
}/*# sourceMappingURL=main.css.map */